<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><i class="fa fa-book fa-fw mr-2"></i>Book Trading Club</a>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            {% if user %}
            <li class="nav-item">
                <a class="nav-link" href="/users/update"><i class="fa fa-user-circle-o mr-1"></i>{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout"><i class="fa fa-sign-out mr-1"></i>Logout</a>
            </li>
            {% else %}
            <li class="nav-item {% if path === 'login' %}active{% endif %}">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item {% if path === 'register' %}active{% endif %}">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
