{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-3 push-md-9">
			<div class="card">
				<div class="card-block">
					{% if user %}
					<h4 class="card-title">{{ user.name }}</h4>
					<p class="card-text">Welcome to the Book Trading Club. Here you'll find books you can make trade requests for using your own books.</p>
					<small><a href="/users/{{user.id}}/books">My Books</a></small>
					{% else %}
					<p class="card-text">Welcome to the Book Trading Club. <a href="/users/login">Login</a> or <a href="/users/register">create an account</a> now to start trading with other collectors!</p>
					{% endif %}
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item justify-content-between">
						<a href="/incoming_trades"><i class="fa fa-inbox fa-fw mr-1"></i>Trade Inbox</a>
						<span class="badge badge-pill badge-danger" id="incomingTradeCount"></span>
					</li>
					<li class="list-group-item justify-content-between">
						<a href="/outgoing_trades"><i class="fa fa-hourglass-half fa-fw mr-1"></i>Requests Sent</a>
						<span class="badge badge-pill badge-danger" id="outgoingTradeCount"></span>
					</li>
				</ul>
				{% if user %}
				<div class="card-block">
					<button type="button" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#newBookModal">Add A Book</button>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-9 pull-md-3">
			<div class="card-columns">
				{% for book in books %}
					<div class="card">
						<img class="card-img-top img-fluid p-3" src="{{ book.image }}" alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">{{ book.title }}</h4>
							<p class="card-text">{{ book.summary }}</p>

							<!-- Don't let a user trade with themselves -->
							{% if book.user != user.id and user %}
							<button type="button"
									name="tradeButton"
									class="btn btn-block btn-outline-success"
									data-title="{{ book.title }}"
									data-id="{{ book.id}}">Request Trade</button>
							{% elif book.user == user.id and user %}
							<button type="button"
									name="deleteButton"
									class="btn btn-block btn-outline-danger"
									data-title="{{ book.title }}"
									data-id="{{ book.id}}">Delete Book</button>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% include "./newBook.html" %}
{% include "./newTrade.html" %}

{% endblock %}

{% block extra_js %}
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
<script type="text/javascript">
/* Initialize Socket io */
var socket = io.connect();
var incomingCount;
var outgoingCount;

/* When a new trade is emitted, update the counts & alert the user */
socket.on('trade added', function(data) {
	if (data.trade.interestedUser === '{{ user._id }}') {
		// Notify the User of the new trade
		$.notify({
			title: '<h5>New Trade Request</h5>',
			message: 	'A user would like to trade their book <strong>' +
						data.trade.bookOffered.title +
						'</strong> for your book <strong>' +
						data.trade.bookInterested.title +
						'</strong>! Check your trade inbox for more information.'
		},{
			type: 'success',
			delay: 5000
		});
		// Increment the incomg trade request count
		incomingCount += 1;
		$('#incomingTradeCount').text(incomingCount);
	} else if (data.trade.offeringUser === '{{ user._id }}'){
		// Increment the outgoing trade request count
		outgoingCount += 1;
		$('#outgoingTradeCount').text(outgoingCount);
	}
});

/* Get the user's counts */
$.get( "/trades/counts/{{ user.id }}", function( response ) {
	incomingCount = response.data.incoming;
	outgoingCount = response.data.outgoing;
	$('#incomingTradeCount').text(incomingCount);
 	$('#outgoingTradeCount').text(outgoingCount);
});


/* Show the trade modal and set the value */
$('button[name="tradeButton"]').on('click', function(e){
	e.preventDefault();
	var bookTitle = $(this).data('title');
	var bookId = $(this).data('id');
	$('#newTradeModal').modal('show');
	$('#newTradeModal input[name="bookInterestedTitle"]').val(bookTitle);
	$('#newTradeModal input[name="bookInterestedId"]').val(bookId);
});

$('button[name="deleteButton"]').on('click', function(e){
	e.preventDefault();
	var bookTitle = $(this).data('title');
	var bookId = $(this).data('id');

	$.ajax({
		method: 'DELETE',
		url: '/books/' + bookId,
		data: {},
		success: function(){
			location.reload();
		},
		error: function(error){
			var errorMessage;
			if(error.responseJSON.message){
				errorMessage = error.responseJSON.message;
			} else {
				errorMessage = "Something went wrong, please try again!";
			}
			$.notify({
				title: '<h5>Uh Oh...</h5>',
				message: errorMessage
			},{
				type: 'danger',
				delay: 5000
			});
		}
	});
});

/* Create a new Trade */
$('#tradeForm').on('submit', function(e){
	e.preventDefault();
	var bookOffered = {
		id: $('#newTradeModal select[name="bookOffered"]').find(':selected').val()
	}

	var bookInterestedId = $('input[name="bookInterestedId"]').val();

	$.ajax({
		method: 'POST',
		url: 'trades/create/' + bookInterestedId,
		data: bookOffered,
		success: function() {
			$('#newTradeModal').modal('hide');
			$.notify({
				title: '<h5>Success</h5>',
				message: 'Your trade request was successfuly delivered!'
			},{
				type: 'success',
				delay: 5000
			});
		},
		error: function(error) {
			$('#newBookModal').modal('hide');
			var errorMessage;
			if(error.responseJSON.message){
				errorMessage = error.responseJSON.message;
			} else {
				errorMessage = "Something went wrong, please try again!";
			}
            $.notify({
                title: '<h5>Uh Oh...</h5>',
                message: errorMessage
            },{
                type: 'danger',
                delay: 5000
            });
		}
	});
});

/* Create a new Book */
$('#bookForm').on('submit', function(e){
    e.preventDefault();
    var bookData = {};
    bookData.title = $('input[name="title"]').val();
    bookData.summary = $('textarea[name="summary"]').val();
	bookData.image = $('input[name="image"]').val();


    $.ajax({
        method: 'POST',
        url: '/books/create',
        data: bookData,
        success: function() {
			$('#newBookModal').modal('hide');
            $.notify({
                title: '<h5>Success</h5>',
                message: 'Your book was successfuly added, the page will refresh.'
            },{
                type: 'success',
				showProgressbar: true,
                delay: 3000
            });

			window.setTimeout(function(){
				location.reload();
			}, 3000);

        },
        error: function(error) {
			$('#newBookModal').modal('hide');
			var errorMessage;
			if(error.responseJSON.message){
				errorMessage = error.responseJSON.message;
			} else {
				errorMessage = "Something went wrong, please try again!";
			}
            $.notify({
                title: '<h5>Uh Oh...</h5>',
                message: errorMessage
            },{
                type: 'danger',
                delay: 5000
            });
        }
    })
});

/* Dismiss Trade Modal and summon Book Modal */
$('#addABookFromModal').on('click', function(){
	$('#newTradeModal').modal('hide');
	$('#newBookModal').modal('show');
})
</script>
{% endblock %}
