{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        {% if trades.length == 0 %}
        <div class="col-md-12 text-center">
            <h4>No Outgoing Trades</h4>
            <p>Looks like you don't have any outgoing trade requests at the moment!</p>
            <a href="/" class="btn btn-primary">View All Books</a>
        </div>
        {% else %}
        <div class="col-lg-12 col-md-12">
            <h5 class="text-primary">Your Outgoing Trade Requests</h5><hr>
        </div>
        {% for trade in trades %}
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item justify-content-between">
                        <img src="{{ trade.bookOffered.image }}" alt="{{ trade.bookOffered.title }}" class="trade-image">
                        <i class="fa fa-arrows-h fa-2x fa-fw ml-3 mr-3"></i>
                        <img src="{{ trade.bookInterested.image }}" alt="{{ trade.bookInterested.title }}" class="trade-image">
                    </li>
                    <li class="list-group-item justify-content-between">
                        <p class="card-text">
							You offered to trade <strong>{{ trade.bookOffered.title }}</strong> for <strong>{{ trade.bookInterested.title }}</strong>.
						</p>
                    </li>
                    <div class="card-block text-center">
                        {% if trade.status == 'pending' %}
                        <span class="text-primary"><i class="fa fa-fw fa-hourglass-half mr-2"></i>Pending</span>
                        {% elif trade.status == 'declined' %}
                        <span class="text-danger"><i class="fa fa-fw fa-times mr-2"></i>They Declined!</span>
                        {% elif trade.status == 'accepted' %}
                        <span class="text-success"><i class="fa fa-fw fa-check mr-2"></i>They Accepted!</span>
                        {% endif %}
                    </div>
                    <li class="list-group-item justify-content-center">
                        {% if trade.status == 'pending' or trade.status == 'declined'%}
                        <button type="button" class="btn btn-outline-danger cancel-trade" data-deleteid="{{ trade._id }}">Delete</button>
                        {% elif trade.status == 'accepted' %}
                        <a href="mailto:{{ trade.userInfo[0].email }}?Subject=Lets%20Trade%20Books" target="_top" class="btn btn-outline-primary">Contract Trader</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$('.cancel-trade').on('click', function(e){
    e.preventDefault();
    $.ajax({
        method: "DELETE",
        data: {},
        url: '/trades/' + $(this).data('deleteid'),
        success: function(response){
            location.reload();
        },
        error: function(error) {
            location.reload();
        }
    })
});
</script>
{% endblock %}
