{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<h3>Register</h3><hr>
			<form role="form" action="/users/register" method="post">
				<div class="form-group">
					<label for="">Name</label>
					<input type="text" name="name" value="" placeholder="Ex. John Doe" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Username</label>
					<input type="text" name="username" value="" placeholder="Ex. jon1doe" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Email</label>
					<input type="text" name="email" value="" placeholder="ex. john@email.com" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Password</label>
					<input type="password" name="password" value="" placeholder="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Confrim Password</label>
					<input type="password" name="password2" value="" placeholder="confrim password" class="form-control">
				</div>
				<div class="form-group">
					<button type="submit" name="submit" class="form-control btn btn-primary">Submit</button>
				</div>
			</form>
			<div class="row text-center mb-3">
				<div class="col-sm-5"><hr></div>
				<div class="col-sm-2">or</div>
				<div class="col-sm-5"><hr></div>
			</div>
			<div class="form-group">
				<a href="/users/twitter" class="form-control btn btn-info"><i class="fa fa-fw fa-twitter mr-2"></i>Login With Twitter</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
{% endblock %}
